@import "./root";

.s2 {
  background-size: cover;
  width: 100vw;
  height: 101vh;
  background-color: $custom;
}

.s2Content {
  position: relative;
  background-color: $custom;
  padding: 2rem 2rem;
  color: white;
  // box-shadow: 1px 1px 25px $custom3;
  text-shadow: none;
  text-align: center;
  margin: 1rem;
  min-height: 15rem;
}

.s2Content p {
  font-size: 0.9rem;
}

.s2Content h5 {
  font-size: 1.1rem;
}

.decoration {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.s1G2 {
  position: absolute;
  background-size: cover;
  height: 2rem;
  width: 2rem;
  left: 10px;
  opacity: 0.4;
  top: 10px;
  padding: 1rem;
}

.s1G1 {
  position: absolute;
  background-size: cover;
  height: 2rem;
  width: 2rem;
  right: 10px;
  bottom: 10px;
  opacity: 0.4;
}

@media (max-width: 400px) {
  .s2Content {
    padding: 2rem 1rem;
  }

  .s2Content p {
    font-size: 0.8rem;
  }

  .s2Content h5 {
    font-size: 1rem;
  }
}
