@import "./root";

.section-3 {
  position: fixed;
  width: 100vw;
  color: rgb(255, 255, 255);

  justify-content: center;
  display: flex;
  align-items: center;
  padding: 2rem;
  height: 100vh;

  left: 0;
}

.section-3 h1 {
  width: 100%;
  font-size: 1.4rem;
}

.fixedpos {
  left: 0;

  width: 100vw;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
}

.fixedpos.two {
  background-position: 50% -150px;
}
.s4 {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3rem 1rem;
  background-color: $custom;
}

.s4desc {
  padding-left: 3rem;
  position: relative;
  z-index: 1;
}

.borderS4 {
  top: 20px;
  position: absolute;
  height: 80%;
  width: 10rem;
  border: solid 3px #fba700;
}

.fixedpos.two .s4 {
  background-color: $custom;
  color: $white;
}

.s5desc {
  padding-left: 3rem;
  position: relative;
  z-index: 1;
}

.borderS5 {
  top: 20px;
  position: absolute;
  height: 80%;
  width: 10rem;
  border: solid 3px #fba700;
}
